* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

$mainBlack: #222;
$mainWhite: #fff;
$mainGrey: rgba(223, 223, 223, 0.8);

body{
    background: $mainWhite;
    font-family: 'Sofia', cursive;
    font-size: 20px;
;

}